<div ng-app='multipleChoiceApp'>
	<div class = "row">
		<div class="col-md-6">
			<div class = "well">
				<form ng-submit="addOption()">
					Enter Option:
					<input type="text" ng-model="option" placeholder='put it here'/>
					<input type ='submit' value="Add Option">
				</form>
				<ol>
					<li ng-model='option' ng-repeat='each in optionList'>
					<span class='theList-{{each.option}}'>{{each}}</span>
					<button type ='button' ng-click="removeOption($index)" ng-model='option' class="btn ">-</button>
					</li>
				</ol>
			</div>
		</div>
		<div class="col-md-6">
			<div class="well">
			<br>
				<!-- changes based on format type pulls choices from option list -->
				<ol>
					<li  ng-repeat='each in answerList'>
						
						<input type='radio' ng-model='answer' name="response" value="true" ng-click='setChoiceForQuestion(answerList,each)'>

						{{each.option}} 
					</li>
				</ol>
			</div>
		</div>			
	</div>
</div>