<div ng-app='multipleSelectApp'>	
	<div class="row">
		<div class="col-md-6">
			<div class = "well">
				<form ng-submit="addOption()">
					Type Choice:
					<input type="text" ng-model="option" placeholder='put it here'/>
					<input type ='submit' value="Add Option">
				</form>	
				<br>			
				<table class="table table-hover">   
	    			<tbody>
						<tr ng-model='option' ng-repeat='each in optionList'>				
							<td>
								<span class='theList-{{each.option}}'>{{each}}</span>
							</td>					
							<td>
								<button type ='button' ng-click="removeOption($index)" ng-model='option' class="btn ">Remove</button>
							</td>								
						</tr>
					</tbody>
				</table>								
			</div>
		</div>
		<div class="col-md-6">
			<div class="well">		
				<br>	
				<!-- changes based on format type pulls choices from option list -->
				<table class = "table table-hover">
					<tbody>
						<tr ng-repeat='each in answerList'>
							<td>
								<span class='theList-{{each.answer}}'>
								<input type='checkbox' ng-model='answer' value={{each.option}} ng-change='selectedAnswer($index,answer)'>
								{{each.option}} 
								</span>

							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>				
</div>